<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "errores") %> impidieron que se guarde el viaje:</h2>

      <ul>
        <% trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  
  <div class="field">
    <%= form.label :Dia_y_Horario %>
    <%= form.datetime_field :horario %>
  </div>

  <div class="field">
    <%= form.label :Chofer %>
    <%= form.collection_select( :chofer_id, Chofer.all , :id, :nombre_apellido, prompt: "Seleccione" ) %>
  </div>

  <div class="field">
    <%= form.label :Combi %>
    <%= form.collection_select( :bus_id,  Bus.all, :id, :patente, prompt: "Seleccione" ) %>
  </div>

  <div class="field">
    <%= form.label :Ruta %>
    <%= form.collection_select( :route_id ,  Route.all, :id, :nombre,prompt: "Seleccione" ) %>
  </div> 
<%#= f.collection_select(:author_id, Author.all, :id, :name_with_initial, prompt: true) %>
 

  <div class="field">
    <%= form.label :Tarifa %>
    <%= form.number_field :rate, :step => 0.05%>
  </div>
  


  
    <%= form.submit "Guardar" , class: "btn btn-danger" %>
 
<%= link_to 'Volver', routes_path , class: "btn btn-primary"%>

        
<% end %>