<h2>Viajes</h2>

<br>
<div>
		<%= link_to 'Busqueda magica', new_search_path, class:"btn btn-primary" %>



	<% if current_admin or current_chofer %>
	<% if current_admin %>
		<%= link_to 'Nuevo viaje', new_trip_path, class:"btn btn-primary" %> 
	<% end %>
</div> <br>
<table class="table table-striped">
	<thead class="thead">
		<tr>
			<th>Ruta</th>
			<th>Dia y horario </th>
			<th>Chofer</th>
			<th>Combi</th>
			<th>Capacidad</th>
			<th>Tarifa</th>
			
		</tr>
	</thead>
	<% if @trip.empty?  %>
		<h1 style="color:red;"> Usted no tiene viajes disponibles </h1>
	<% end %>
	<% @trip.each do |t| %>
	<tr>

		<td><%= link_to  t.route.origen_destino(t.route.initial_city, t.route.destination_city) , route_path(t.route.id)  %> </td>
		<td><%=  t.horario.strftime("%-d/%-m/%y: %H:%M %Z")  %>  </td>
		<td><%=  t.chofer.nombre_apellido  %>  </td>
		<td><%=  t.bus.patente  %>  </td>
		<td><%=  t.bus.asientos  %>  </td>

		<td><%= t.rate %></td>
		<% if current_admin %>
		<td> <%= link_to 'Editar', edit_trip_path(t), class:"btn btn-outline-primary" %> </td>
		<td> <%= button_to 'Eliminar', t , method: :delete, data: { confirm: '¿ Está seguro ?' },class:"btn btn-outline-danger" %></td>
		<% end %>

		<% if current_chofer %>
			<td> <%= link_to 'Gestionar viaje', trip_path(t) ,class:"btn btn-outline-primary" %></td>
		<% end %>
		<% if t.discarded? %>
			<td> <%= link_to 'CANCELADO', '', class:"btn btn-outline-danger" %> </td>
		<% else %>
			<% if not t.horario.past? %>
			<td> <%= link_to 'Cancelar viaje', trips_cancel_path(viaje: t) , data: { confirm: "Esta acción tiene como consecuencia la cancelación del viaje, el dinero será devuelto a todos los clientes y no es posible anular esta acción." + "\r\r\n" + "¿Está seguro de continuar?"  }, class:"btn btn-outline-primary" %> </td>
			<% end %>
		<% end %>
	</tr>
	<% end %>

</table>	

<% end %>











