<h2>Viajes</h2>


<table class="table table-striped">
		<thead class="thead">
		<tr>
			<th>Ruta</th>
			<th>Chofer</th>
			<th>Combi</th>
			<th>Dia / horario </th>

			
		</tr>
		</thead>
		<% @trip.each do |t| %>
		<tr>
				
			<td><%= link_to t.route.nombre, route_path(t.route.id)  %> </td>
			<td><%=  t.chofer.nombre  %>  </td>
			<td><%=  t.bus.patente  %>  </td>
			<td><%=  t.horario  %>  </td>



			<%#= link_to 'Editar', edit_trip_path(t), class:"btn btn-primary" %>
			<%#= button_to 'Eliminar', t , method: :delete, data: { confirm: 'Esta seguro ?' },class:"btn btn-danger" %>
			

		</tr>
		<% end %>

	</table>	

	

	<h4><%= link_to 'Nuevo viaje', new_trip_path, class:"btn btn-primary" %></h4>