<h2>Pasajes</h2>
<br>
  <p><span> <%= link_to 'Vender', orders_venta_chofer_path(@trip.id), class:"btn btn-primary" %> </span> </p>

<br>
<%= @trip.inspect %>

<% if @order.empty? %>
	<p>No se han comprado pasajes para este viaje. </p> 
<% else %>

<table class="table table-striped">
	<thead class="thead">
		<tr>
			<th>Nombre</th>
			<th>Email</th>
			
		</tr>
	</thead>

	  


	<% @order.each do |t| %>
	<tr>

		<td><%=  t.user.name   %> </td>  <!-- asi es mas facil! --> 
		<td><%=  t.user.email   %> </td>
		<td> <%= link_to 'Planilla', '', class:"btn btn-outline-danger" %> </td>
		<td> <%= link_to 'Rechazar', '', class:"btn btn-outline-danger" %> </td>
		<td> <%= link_to 'Aceptar', '', class:"btn btn-outline-danger" %> </td>


	</tr>
	<% end %>

</table>	

<% end %>

<%= link_to 'Volver', :back , class: "btn btn-primary"%>
