
<% if current_chofer or current_admin %>
<h2>Pasajes</h2>
<br>
  <span> <%= link_to ' Vender ', orders_venta_chofer_path(@trip.id), class:"btn btn-danger btn-lg" %> </span> 
   <span> <%= link_to 'Volver', trips_path , class:"btn btn-primary btn-lg"%></span> <br>

<br>


<% if @order.empty? %>
	<hr>
	<p>No se han comprado pasajes para este viaje. </p> 

<% else %>


<table class="table table-striped">
	<thead class="thead">
		<tr>
			<th>Nombre</th>
			<th>Email</th>
			<th>DNI</th>
			
		</tr>


	<% @order.each do |t| %>
	<tr>
		
		<td><%=  t.user.name   %> </td>  <!-- asi es mas facil! --> 
		<td><%=  t.user.email   %> </td>
		<td><%=  t.user.dni   %> </td>
		<td> <%= link_to 'Planilla', '', class:"btn btn-outline-primary" %> </td>
		<td> <%= link_to 'Aceptar', '', class:"btn btn-outline-success" %> </td>
		<td> <%= link_to 'Rechazar', '', class:"btn btn-outline-danger" %> </td>
		


	</tr>
	<% end %>

</table>	

<% end %>


<% end %>

