
<% if current_chofer or current_admin %>
<h2>Pasajes</h2>
<br>
  <span> <%= link_to ' Vender ', orders_venta_chofer_path(@trip.id), class:"btn btn-danger btn-lg" %> </span> 
   <span> <%= link_to 'Volver', trips_path , class:"btn btn-primary btn-lg"%></span> <br>

<br>


<% if @order.empty? %>
	<hr>
	<p>No se han comprado pasajes para este viaje. </p> 

<% else %>


<table class="table table-striped">
	<thead class="thead">
		<tr>
			<th>Nombre</th>
			<th>Email</th>
			<th>DNI</th>
			
		</tr>


	<% @order.each do |o| %>
	<tr>
		<td><%=  o.user.name   %> </td>  
		<td><%=  o.user.email   %> </td>
		<td><%=  o.user.dni   %> </td>
		<td> <%= link_to 'Planilla', new_planilla_path(o.user.id, viaje: @trip) , class:"btn btn-outline-danger" %> </td>
		<% @planilla = Planilla.where(user_id: o.user.id).last %>
		
		<% if @planilla %>
			

			<% fecha = @planilla.created_at.change(day: @planilla.created_at.day-2) %>
			<% if @planilla.created_at > fecha %>
				<% if not @planilla.aceptado %>
					<td> <%= link_to 'Aceptado', '', class:"btn btn-outline-success" %> </td>
				<% else %>
					<td> <%= link_to 'Rechazado', '', class:"btn btn-outline-danger" %> </td>
				<% end %>
			<% else %>
				<td> <%= link_to 'No hay datos', '', class:"btn btn-outline-danger" %> </td>
			<% end %>
		<% else %>
			<td> <%= link_to 'No hay datos', '', class:"btn btn-outline-danger" %> </td>
		<% end %>

	</tr>
	<% end %>

</table>	

<% end %>


<% end %>

