<h3>Extras</h3>


<table class="table table-striped">
		<thead class="thead">
		<tr>
			<th>Nombre</th>
			<th>Stock</th>
			<th>Precio</th>

		
			
		</tr>
		</thead>
		
		<% @additional.each do |a| %>
		
			<tr>
				<td><%= link_to a.nombre, additional_path(a)  %>  </td>
				<td><%= a.stock  %>  </td>
				<td><%= a.precio  %>  </td>
				
					<td><%= link_to 'Editar', edit_additional_path(a), class: "btn btn-outline-primary" %></td>
					<td><%= button_to 'Eliminar', a , method: :delete, data: { confirm: 'Esta seguro ?' }, class: "btn btn-outline-danger"%></td>
					
			
			</tr>
		<% end %>

	</table>	

	

	<h4><%= link_to 'Nuevo Extra', new_additional_path, class:"btn btn-primary" %></h4>