 <h1>Nombre: <%= @user.name %></h1>
 <h1>Email: <%= @user.email%></h1>
 <h1>DNI: <%= @user.dni%></h1>
 <h1>Creado: <%= @user.created_at%></h1>


 <h4><%= link_to 'Volver', users_index_path, class:"btn btn-primary" %></h4>