 <h2>Nombre: <%= @user.name %></h2>
 <h2>Email: <%= @user.email%></h2>
 <h2>DNI: <%= @user.dni%></h2>
 

<br>
<% if current_user %>

<% if !@user.suscripcion? %>

<p><%= link_to 'Suscribirse', '/users/suscripcion', method: :post, class:"btn btn-danger btn-lg" %></p>  
<p>Suscribete ahora para obtener todos los beneficios</p>
<% else %>
<p><%= link_to 'Suscrito', '', class:"btn btn-success btn-lg" %></p>  
<p>Ya te suscribiste.</p>

<% end %>
<br>

<% end %>
 <h4><%= link_to 'Volver', users_index_path, class:"btn btn-secondary" %></h4>