<%= form_with(model: chofer, local: true) do |form| %>
  <% if chofer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chofer.errors.count, "errores") %> impidieron que se guarde la ciudad:</h2>

      <ul>
        <% chofer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :nombre %>
  </div>
  <div class="field">
    <%= form.label :Apellido %>
    <%= form.text_field :apellido %>
  </div>
  <div class="field">
    <%= form.label :DNI %>
    <%= form.number_field :dni %>
  </div>
  <div class="field">
    <%= form.label :Fecha_de_inicio %>
    <%= form.date_field :inicio_actividad %>
  </div>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="actions">
    <%= form.submit "Guardar", class: 'btn btn-danger' %>
    <%= link_to 'Volver', chofers_path , class: "btn btn-primary"%>
  </div>
<% end %>
