<h2>Choferes</h2>

<% if current_admin %>
	<%= form_for "", url: chofers_path, role: "search", method: :get do %>
 	 <%= text_field_tag :search, @search_term, placeholer: "Buscar.." %>
  	<%= submit_tag("Buscar") %>
 	 <% end %>
<% end %>  

<table class="table table-striped">
		<thead class="thead">
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>DNI</th>
			<th>Inicio de Actividad</th>

		
			
		</tr>
		</thead>
		<% @chofer.each do |chofer| %>
		<tr>
			
			<td><%= link_to chofer.nombre, chofer_path(chofer)  %>  </td>
			<td><%= link_to chofer.apellido, chofer_path(chofer)  %>  </td>
			<td><%= chofer.dni  %>  </td>
			<td><%= chofer.inicio_actividad  %>  </td>
			<%# if user_signed_in? %>
				<td><%= link_to 'Editar', edit_chofer_path(chofer), class: "btn btn-outline-primary" %></td>
				<td><%= button_to 'Eliminar', chofer , method: :delete, data: { confirm: 'Esta seguro ?' }, class: "btn btn-outline-danger"%></td>
				
			<%# end %>	
		</tr>
		<% end %>

	</table>	

	

	<h4><%= link_to 'Nuevo chofer', new_chofer_path, class:"btn btn-primary" %></h4>