    <h1>Mis pasajes</h1>

<% if @orders.empty? %>

	<p> Cuando compres un pasaje aparecerá aquí</p>
<% else %>

<table class="table table-striped table-bordered table-hover">
		<thead class="thead">
		<tr>
			<th></th>
			<th>order id</th>
			<th>Ruta</th>
			<th>Fecha del viaje</th>
			<th>user</th>
			<th>abonado</th>
			
			<th>trip id</th>
			
		</tr>
		</thead>
		<% @orders.each do |order| %>
	
	<% if order.canceled==true %>
		<tr class="table-danger">
	<% else %>	
		<tr class="table-success">
	<% end %>		
			<td><%= link_to 'Ver', order_path(order) , class: "btn btn-primary"%> </td>
			<td><%= order.id %>  </td>
			<td><%= order.trip.route.origin_destination %>  </td>
			<td><%= order.trip.horario.strftime("%-d/%-m/%y" '  |  ' "%H:%M hs") %>  </td>
			<td><%= order.user.name %>  </td>
			<td><%= '$ ' + order.cobro.to_s %>  </td>
			
			<td><%= order.trip_id %>  </td>
 			


		</tr>
		<% end %>

	</table>	

	

<% end %>
