

<%#= current_user.inspect %> 
<%#= @viaje.inspect %>
<%#= @order.inspect %>

<%= form_with(model: @order, local: true) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "errores") %> impidieron que se genere su orden:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<div class="container">
	
  <div class="row">

  	<div class="col">
  	<h4>Datos del pasajero:</h4>
	<h6> <%= 'Nombre: ' + current_user.name %> </h6>
	<h6> <%= 'DNI: ' + current_user.dni.to_s %> </h6>
	<h6> <%= 'Email: ' + current_user.email %> </h6>

	<br>
      	<div class="field" >
      		<h4>Ingresá los datos de la tarjeta</h4>
	    <%= form.label :"NUMERO_DE_TARJETA" %>
	    <%= form.text_field :tarjeta , maxlength: 16 ,placeholder: "XXXX XXXX XXXX XXXX", :required => 'required' , class:"form-control" %>
		</div>

		<%= form.hidden_field :user_id, value: current_user.id %>
 		 <%= form.hidden_field :trip_id, value: @viaje.id %> 
 		 
 		<% if @extras %>
 		<% @extras.each do |a|  %>	
 			<%= form.hidden_field :additional_ids, :multiple => true, :value => a.id %>
		<% end %>
 		<%= form.hidden_field :cobro, value: @total %>
		<% else %>
			<%= form.hidden_field :cobro, value: @total %>
		<% end %>
 		<br><%= form.submit "Confirmar" , class: "btn btn-danger btn-lg" %>
 		<%= link_to 'Cancelar', new_search_path , class: "btn btn-primary btn-lg"%>
    <% end %>  
	</div>
	    <div class="col"> 

		   <div class="card" style="width: 20rem;">
		   	<ul class="list-group list-group-flush">
	    		<li class="list-group-item">TOTAL <h5>  <%='$' +@total.to_s %></li>	</h5>
	    		</ul>
		  <% if @viaje.bus.tipo=='Cómoda' %>
		  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQsTQWEjnh_pBESEl2ik445mqDgUlv6TDQJA&usqp=CAU" alt="...">
		  <% else %> <img src="https://i.pinimg.com/originals/01/a2/ea/01a2eac66af0470a42d2d1b90aa94659.jpg" class="card-img-top" alt="..."> <% end %>
		  <div class="card-body">
		    <h5 class="card-title">Pasaje</h5>
		    <p class="card-text">Puedes cancelar el viaje hasta 48hs antes de la fecha, luego solo recibiras el 50% de reembolso.</p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><h5><%= @viaje.route.origin_destination %> </h5> <%= '$ ' + @viaje.rate.to_s %>   </li>  

		    <li class="list-group-item"><h5>IDA</h5><%= @viaje.horario.strftime("%-d/%-m/%y" '  |  ' "%H:%M ")%></li>
		    <li class="list-group-item"><h5>COMBI</h5><%=  @viaje.bus.tipo %></li>
		    <li class="list-group-item"><h5>EXTRA</h5>
		    <% @extras.each do |e|%>
		    <%=  e.nombre %> </br> Precio: $ <%=  e.precio  %></br></br>
		    
 			 <% end %>
		    </li>
		  </ul>
		  
		     
		    
  	
	</div>
    </div> 
  </div>
 <br>
   
  
</div>






 






