

<h1>Detalle de Pasaje # <%= @order.id %> </h1>
<table class="table table-striped table-bordered table-hover">
		<thead class="thead">
		<tr>
			<th>order ID</th>
			
			<th>Ruta</th>
			<th>Fecha del viaje</th>
			<th>user</th>
			<th>abonado</th>
			<th>Combi</th>
			<th>trip id</th>
			<th>Extras</th>
			
		</tr>
		</thead>
		
		<tr>
			
			<td><%= @order.id %>  </td>
			<td><%= @order.trip.route.origin_destination %>  </td>
			<td><%= @order.trip.horario.strftime("%-d/%-m/%y" '  |  ' "%H:%M hs") %>  </td>
			<td><%= @order.user.name %>  </td>
			<td><%= '$ ' + @order.cobro.to_s %>  </td>
			<td><%= @order.trip.bus.tipo %>  </td>
			<td><%= @order.trip_id %>  </td>
			<td><%= @order.additionals.map { |additional| additional.nombre }.join(', ') %>  </td> 
		</tr>
		

	</table>	


	<% if @order.canceled==true %>
		<div class="alert alert-info" role="alert">
		  <h4 class="alert-heading">Su pasaje fue cancelado</h4>
		  <hr>
		  <%= 'Devolvimos $' + @order.refunded.to_s + ' a su tarjeta terminada en ' + @order.tarjeta.to_s.split(//).last(4).join  %>
		  
		  
		</div>
	<% end %>	


<% if @order.trip.horario.after?(DateTime.current) %>

	<% if @order.trip.horario.after?(DateTime.current + 2) && @order.canceled==false %>
		  <%= link_to 'Cancelar viaje', { controller: "orders", action: "cancel_order" , order_id: @order.id} , class: "btn btn-primary" %>
	<% elsif @order.canceled==false %>
		  <%= link_to 'Cancelar viaje', { controller: "orders", action: "cancel_order" , order_id: @order.id}, class: "btn btn-primary" %>


	<% end %>
<% end %>

