
<h1>Resultados de la busqueda</h1>
<br>



<% if @search.empty? %>

	<p> No hay coincidencias</p>
<% else %>

<table class="table table-striped table-bordered table-hover">
		<thead class="thead">
		<tr>
			<% if current_admin %>
			<th></th>
			<th>Ruta</th>
			<th>Dia y horario </th>
			<th>Chofer</th>
			<th>Combi</th>
			
			<th>Capacidad</th>
			<th>Tipo</th>
			<th>Tarifa</th>
				<% else %>
			<th>Ruta</th>
			<th>Fecha</th>
			<th>Combi</th>
			<th>Precio</th>
			<% end %>
			
		</tr>
		</thead>
		<% @search.each do |s| %>
		<% if current_admin %>
		<tr>	
			<td> <%= link_to ' + ', orders_path(s),class:"btn btn-outline-primary" %> </td>	
			<td><%= link_to  s.route.origen_destino(s.route.initial_city, s.route.destination_city) , route_path(s.route.id)  %> </td>
			<td><%=  s.horario.strftime("%-d/%-m/%y - %H:%M")  %>  </td>
			<td><%=  s.chofer.nombre_apellido  %>  </td>
			<td><%=  s.bus.patente  %>  </td>
			<td><%=  s.bus.asientos  %>  </td>
			<td><%=  s.bus.tipo  %>  </td>
			
			<td><%= s.rate %></td>
			<td> <%= link_to 'Editar', edit_trip_path(s), class:"btn btn-outline-primary" %> </td>
			<td> <%= button_to 'Eliminar', s , method: :delete, data: { confirm: '¿ Está seguro ?' },class:"btn btn-outline-danger" %></td>		

			<% if s.discarded? %>
			<td > <%= link_to 'Cancelado', "", class:"btn btn-outline-danger"  %> </td>
			<% else %>
			<td> <%= link_to 'Cancelar', trips_cancel_path(viaje: s) , data: { confirm: "Esta acción tiene como consecuencia la cancelación del viaje, el dinero será devuelto a todos los clientes y no es posible anular esta acción." + "\r\r\n" + "¿Está seguro de continuar?"  }, class:"btn btn-outline-primary" %> </td>
			<% end %>
		</tr>

	<% else %>
		
		<tr>
			<td><%= s.route.origin_destination %>  </td>
			<td><%= s.horario.strftime("%-d/%-m/%y" '  |  ' "%H:%M ")%> </td>
			<td><%= s.bus.tipo %></td>
			<td><%= s.rate %>  </td>
				
			<td><%= link_to 'Seleccionar', additionals_path(:viaje_id => s ) , class: "btn btn-danger"%> </td>
				
			 

		</tr>
		
		<% end %>
		<% end %>

	</table>	

	

<% end %>

<%= link_to 'Volver', :back , class:"btn btn-outline-primary" %> </td>