
<h1>Resultados de la busqueda</h1>




<% if @search.empty? %>

	<p> No hay coincidencias</p>
<% else %>

<table class="table table-striped table-bordered table-hover">
		<thead class="thead">
		<tr>
			<th>Ruta</th>
			<th>Fecha</th>
			<th>Combi</th>
			<th>Precio</th>
			<th>ID Viaje</th>
			
		</tr>
		</thead>
		<% @search.each do |s| %>
		<tr>
			<td><%= s.route.origin_destination %>  </td>
			<td><%= s.horario.strftime("%-d/%-m/%y" '  |  ' "%H:%M ")%> </td>
			<td><%= s.bus.tipo %></td>
			<td><%= s.rate %>  </td>
			<td><%= s.id %>  </td>
			
			<td><%= link_to 'Seleccionar', new_order_path(:viaje => s ) , class: "btn btn-danger"%> </td>
			
				 

		</tr>
		<% end %>

	</table>	

	

<% end %>