  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "errores") %> impidieron que se guarde la ruta:</h2>

      <ul>
        <% route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



    <div class="row">
      <%= form_with model: route, class: 'form-horizontal' do |f| %>
          <%= f.label :Ciudad_de_Origen %>
          <%= collection_select( :route, :initial_city_id, City.all, :id, :nombre, {}, { :multiple => false } ) %>
           
          
          <%= f.label :Ciudad_de_Destino %>
          <%= collection_select( :route, :destination_city_id, City.all, :id, :nombre, {}, { :multiple => false } ) %>

        <div class="row-sm-3 ">
          <br>
          <%= f.submit 'Guardar', class: 'btn btn-danger' %>
          <%= link_to 'Volver', routes_path , class: "btn btn-primary"%>
      <% end %>
       </div>

    </div>


