<h2>Rutas</h2>


<table class="table table-striped table-dark">
		<thead class="thead-dark">
		<tr>
			<th>Inicio</th>
			<th>Destino</th>
			
		</tr>
		</thead>
		<% @routes.each do |r| %>
		<tr>
			
			<td><% ini = City.find(r.inicio_id)  %>
				<%= link_to ini.nombre, city_path(r.inicio_id)  %>  </td>
			<td><% dest = City.find(r.destino_id)  %>
				<%= link_to dest.nombre, city_path(r.destino_id)  %>  </td>
			<td><%= link_to 'Editar', edit_route_path(r), class:"btn btn-primary" %></td>
			<td><%= button_to 'Eliminar', r , method: :delete, data: { confirm: 'Esta seguro ?' },class:"btn btn-danger" %></td>
			

		</tr>
		<% end %>

	</table>	

	

	<h4><%= link_to 'Nueva Ruta', new_route_path, class:"btn btn-primary" %></h4>