<h2>Rutas</h2>


<table class="table table-striped">
		<thead class="thead">
		<tr>
			<th>Id</th>
			<th>Inicio</th>
			<th>Destino</th>
			
		</tr>
		</thead>
		<% @route.each do |r| %>
		<tr>
			<td><%= r.id  %> </td>	
			<td><%= link_to r.initial_city.nombre , city_path(r.initial_city_id) %> </td>
			<td><%= link_to r.destination_city.nombre , city_path(r.initial_city_id)  %>  </td>
			<td><%= link_to 'Editar', edit_route_path(r), class:"btn btn-primary" %></td>
			<td><%= button_to 'Eliminar', r , method: :delete, data: { confirm: 'Esta seguro ?' },class:"btn btn-danger" %></td>
			

		</tr>
		<% end %>

	</table>	

	

	<h4><%= link_to 'Nueva Ruta', new_route_path, class:"btn btn-primary" %></h4>