
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <% if current_admin %>
            <li class="nav-item ">
                <%= link_to 'Ciudades', cities_path , class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to 'Rutas', routes_path , class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to 'Choferes', chofers_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to 'Combis', buses_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to 'Extras', additionals_path, class: "nav-link"%>
            </li>

            <li class="nav-item">
                <%= link_to 'Viajes', trips_path, class: "nav-link"%>
            </li>
            
        <% elsif current_user %>
            <li class="nav-item">
                <%= link_to 'Mis viajes', "", class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to 'Mis pasajes', orders_path , class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to 'Buscar viajes', new_search_path , class: "nav-link"%>
            </li>
        <% else %>   
            <li class="nav-item">
                <%= link_to 'Buscar viajes', trips_path, class: "nav-link"%>
            </li> 
            <% end %>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag "logo.png", title: "Logo", class: "logo" %>
            COMBI-19
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
        <% if current_user %>
            <li class="nav-item">
                <%= link_to 'Perfil',edit_user_registration_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete,class: "nav-link" %>
            </li>
            
        <% end %>    
        <% if current_admin %>
                <li class="nav-item"> <%= link_to 'Administrador',"",  class: "nav-link" %> </li>     
                <li class="nav-item">
                <%= link_to 'Cerrar sesión ', destroy_admin_session_path, method: :delete,class: "nav-link" %>
                </li>
        <% end %>    
        <% if !user_signed_in? and !admin_signed_in? %>    
                 <li class="nav-item">
                <%= link_to 'Iniciar sesión', new_user_session_path,class: "nav-link" %>
            </li>
        <% end %>    
        </ul>
    </div>
</nav>

